:root {
    --clr-red: hsl(360, 78%, 53%);
    --clr-peach: hsl(21, 100%, 94%);
    --clr-white: hsl(0, 0%, 100%);
    --clr-lighter-black: hsl(9, 11%, 12%);
    --clr-main: #73665c;
    --clr-accent: #d4971a;
    --clr-secondary-accent: hsl(48, 100%, 50%);

    --ff-primary: "Poppins", sans-serif;

    --ff-body: var(--ff-primary);
    --ff-heading: var(--ff-primary);

    --fw-thin: 100;
    --fw-extra-light: 200;
    --fw-light: 300;
    --fw-regular: 400;
    --fw-medium: 500;
    --fw-semi-bold: 600;
    --fw-bold: 700;
    --fw-extra-bold: 800;

    --fs-200: .690rem;
    --fs-300: .875rem;
    --fs-400: 1rem;
    --fs-500: 1.5rem;
    --fs-600: 2rem;
    --fs-700: 2.5rem;
    --fs-900: 4rem;

    --fs-body: var(--fs-400);
}

/* Utility classes */

.text-red {
    color: var(--clr-red);
}
.text-peach {
    color: var(--clr-peach);
}
.text-white {
    color: var(--clr-white);
}
.text-lighter-black {
    color: var(--clr-lighter-black);
}
.text-main {
    color: var(--clr-main);
}

.bg-red {
    background-color: var(--clr-red);
}
.bg-peach {
    background-color: var(--clr-peach);
}
.bg-white {
    background-color: var(--clr-white);
}
.bg-lighter-black {
    background-color: var(--clr-lighter-black);
}
.bg-accent {
    background-color: var(--clr-accent);
}

.clr-red {
    color: var(--clr-red);
}
.clr-main {
    color: var(--clr-main);
}
.clr-accent {
    color: var(--clr-accent);
}
.clr-secondary-accent {
    color: var(--clr-secondary-accent);
}

.clr-lighter-black {
    color: var(--clr-lighter-black);
}

.clr-white {
    color: var(--clr-white);
}

.fw-thin { font-weight: var(--fw-thin); }
.fw-extra-light { font-weight: var(--fw-extra-light); }
.fw-light { font-weight: var(--fw-light); }
.fw-regular { font-weight: var(--fw-regular); }
.fw-medium { font-weight: var(--fw-medium); }
.fw-semi-bold { font-weight: var(--fw-semi-bold); }
.fw-bold { font-weight: var(--fw-bold); }
.fw-extra-bold { font-weight: var(--fw-extra-bold); }

.fs-200 { font-size: var(--fs-200); }
.fs-300 { font-size: var(--fs-300); }
.fs-400 { font-size: var(--fs-400); }
.fs-500 { font-size: var(--fs-500); }
.fs-600 { font-size: var(--fs-600); }
.fs-700 { font-size: var(--fs-700); }
.fs-900 { font-size: var(--fs-900); }

.visually-hidden {
  position: absolute;
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0,0,0,0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}

.hidden {
    display: none;
}

.show {
    display: flex;
}

.container {
    --max-width: 1110px;
    --padding: 1rem;

    max-width: var(--max-width);
    padding: var(--padding);
    margin-inline: auto;
    text-align: center;
    display: grid;
    gap: 2rem;
}

/* General styling */

body {
    font-size: var(--fs-body);
    font-family: var(--ff-body);
    background-color: var(--clr-peach);
}

/* Primary header */

.logo-link {
    display: flex;
    flex-direction: column;
    text-align: center;
    text-decoration: none;
    line-height: 1;
    font-size: 1.4rem;
}

.logo {
    color: #d4971a;
}

.logo-slogan {
    color: hsl(48, 100%, 50%);
    font-style: italic;
}

.primary-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Navigation */

.nav-list {
    display: flex;
    justify-content: space-between;
    transition: 0.5s ease;
}

.nav-list li {
    padding-right: 3em;
}

.nav-list li a {
    text-decoration: none;
    color: var(--clr-main);
    font-weight: var(--fw-bold);
    transition: 0.5s ease;
}

.nav-list li a:hover {
    color: var(--clr-lighter-black);
}

.nav-list li a::after {
    content: "";
    width: 0%;
    height: 2px;
    display: block;
    transition: all 0.7s ease;
}

.nav-list li a:hover::after {
    width: 100%;
    height: 2px;
    background-color: var(--clr-main);
  }

.nav-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;
}

.mobile-nav-toggle {
    display: none;
}

.shopping-cart-icon {
    width: 25px;
    transition: 0.5s;
}

.shopping-cart-icon:hover {
    transform: rotate(-0.02turn);
}

.nav--how-many-items {
    background-image: url(/assets/img/count-background.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    left: 35%;
    top: -65%;
    margin: auto;
    padding: 0.52rem;
    box-sizing: border-box;
    width: 1px;
    height: 1px;
    justify-content: center;
    align-items: center;
}


@media (max-width: 50em) {
    .primary-navigation {
        display: none;

        z-index: 5;
        position: absolute;
        transform: translateX(20px);
        width: 155px;
        top: 6rem;
        right: 3.5rem;
        padding: 3rem;
        background-color: var(--clr-peach);
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }

    .primary-navigation[data-visible] {
        display: flex;
        justify-content: flex-end;
        position: fixed;
    }

    .logo-link {
        font-size: 1rem;
    }

    .nav-list {
        display: grid;
        gap: 1rem;
        font-size: 2.1rem;
        padding: 0;
        text-align: end;
        justify-self: end;
    }

    .nav-list li {
        padding: 0;
        font-weight: var(--fw-extra-bold);
        text-decoration: none;
    }

    .nav-list li a {
        text-decoration: none;
        color: #73665c;
    }
    
    .mobile-nav-toggle {
        display: block;
        cursor: pointer;
        background: transparent;
        border: 0;
        padding: 0.5em;
    }

    .icon-hamburger,
    .shopping-cart-icon {
        width: 40px;
    }

    .nav-shopping-cart {
        display: flex;
        flex-direction: row-reverse;
    }

    .nav--how-many-items {
        left: 58%;
        top: -24%;
    }
}

/* Hero section */

.hero--wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero--main-img {
    max-width: 270px;
}

.hero--main-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.hero--main-title h1 {
    font-size: clamp(2.3rem, 0.1rem + 5vw, 4rem);
    text-align: center;
    font-weight: var(--fw-medium);
    line-height: 1.2;
}

.hero--order-btn {
    background-color: var(--clr-accent);
    border: 1px solid black;
    border-radius: 9px;
    box-shadow: 2px 2px var(--clr-main);
    cursor: pointer;
    transition-duration: .2s;
    padding: 0.5rem;
    font-size: 0.8rem;
    width: 250px;
}

.hero--order-btn:hover {
    background-color: var(--clr-peach);
    color: var(--clr-main);
}

.hero--order-btn:active {
    transform: translateY(-2px);
    transform: translateX(2px);
    box-shadow: none;
}

@media (min-width: 40em) {
    .hero--wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .hero--main-img {
        max-width: 100%;
    }
}

/* Menu */

.menu-h1 {
    text-align: center;
    font-size: clamp(2rem, 0.1rem + 10vw, 4rem);
}

.menu--wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    justify-content: space-evenly;
    margin-bottom: 2.5rem;
}

.card-menu {
    background-color: var(--clr-white);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
    overflow: hidden;
    height: 335px;
    width: 253px;
    padding: 1rem;
}

.card-inner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "card-img card-img"
    "card-rating card-rating"
    "card-title card--item-count"
    "card-ingredients card-ingredients"
    "card-price order-button-div"
    ;
    gap: 0.4rem;
    height: 100%;
    text-align: justify;
}

.card-img {
    grid-area: card-img;
}

.card-rating {
    grid-area: card-rating;
    width: 110px;
}

.card-title {
    grid-area: card-title
}

.card--item-count {
    grid-area: card--item-count;
    margin-left: 68%;
    align-self: flex-start;
    display: flex;
}

.card--how-many-items {
    background-image: url(/assets/img/count-background.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    left: -35%;
    bottom: -70%;
    padding: 0.55rem;
    box-sizing: border-box;
    width: 15px;
    height: 15px;
    justify-content: center;
    align-items: center;
}

.card-cart {
    width: 30px;
    transition: 0.5s;
}

.card-cart:hover {
    transform: rotate(-0.02turn);
}

.cart-click {
    cursor: pointer;
}

.card-ingredients {
    grid-area: card-ingredients;
}

.card-price {
    grid-area: card-price;
    align-self: flex-end;
    display: flex;
    flex-direction: row;
    gap: 0.3rem;
}

.price-discount {
    text-decoration: line-through;
    justify-self: flex-start;
    margin-top: 0.3rem;

}

.order-button-div {
    grid-area: order-button-div;
    justify-self: flex-end;
    margin-top: 0.2rem;
}

.card-order-btn {
    width: 95px;
    height: 31px;
    background-color: var(--clr-accent);
    border: 1px solid black;
    border-radius: 9px;
    box-shadow: 2px 2px var(--clr-main);
    cursor: pointer;
    transition-duration: .2s;
    padding: 0.2rem;
    margin-top: 0.2rem;
}

.card-order-btn:active {
    box-shadow: none;
    transform: translateY(-2px);
    transform: translateX(2px);
}

.card-order-btn:hover {
    background-color: var(--clr-peach);
    color: var(--clr-main);
}

.card-order-item-btn {
    grid-area: card-order-btn;
    justify-self: flex-end;
    margin-top: 0.2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card-order-item-btn {
    width: 95px;
    height: 31px;
    background-color: var(--clr-peach);
    border: 1px solid black;
    border-radius: 9px;
    box-shadow: 2px 2px var(--clr-main);
    transition-duration: .2s;
    padding: 0.2rem;
}

.decrement-btn:hover {
    color: var(--clr-main);
}

.decrement-btn {
    padding: 0.3rem;
}

.increment-btn {
    padding: 0.3rem;
}

.increment-btn:hover {
    color: var(--clr-main);
}

.menu--cart-btn {
    width: 170px;
    height: 50px;
    background-color: var(--clr-peach);
    border: 1px solid black;
    border-radius: 9px;
    box-shadow: 2px 2px var(--clr-main);
    cursor: pointer;
    transition-duration: .2s;
    padding: 0.2rem;
    margin: 0 auto 2rem auto;
}

.menu--cart-btn:hover {
    background-color: hsl(21, 100%, 96%);
}

/* Basket Content */

.basket--content {
    display: none;
    z-index: 5;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    margin: auto;
    padding: 2.5rem 1.5rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    max-height: 550px;
    max-width: 450px;
    min-width: 260px;
    overflow-y: auto;
    scrollbar-width: none;
    transition-duration: .2s;
}

.basket--content[data-visible]{
    display: block;
}

.basket--inner-content {
    display: grid;
    gap: 1.5rem;
}

.basket--h1 {
    text-align: center;
}

.basket--grid-container {
    display: grid;
    row-gap: 2rem;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "basket--grid-item basket--grid-item-details"
}

.basket--grid-item {
    display: flex;
    align-items: center;
}

.basket--grid-item-details {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
}

.basket--total-price {
    text-align: end;
}

.basket--qty-btn {
    grid-area: card-order-btn;
    justify-self: flex-end;
    margin-top: 0.2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.basket--qty-btn {
    width: 95px;
    height: 31px;
    background-color: var(--clr-peach);
    border: 1px solid black;
    border-radius: 9px;
    box-shadow: 2px 2px var(--clr-main);
    transition-duration: .2s;
    padding: 0.2rem;
}

.qty-btn-decrement:hover {
    color: var(--clr-main);
}

.qty-btn-decrement {
    padding: 0.3rem;
}

.qty-increment-btn {
    padding: 0.3rem;
}

.qty-increment-btn {
    color: var(--clr-main);
}

.basket--place-order-btn {
    width: 170px;
    height: 50px;
    background-color: var(--clr-peach);
    border: 1px solid black;
    border-radius: 9px;
    box-shadow: 2px 2px var(--clr-main);
    transition-duration: .2s;
    padding: 0.2rem;
    justify-self: center;
    margin: 1rem;
    cursor: pointer;
}

.basket--place-order-btn:hover {
    background-color: hsl(21, 100%, 96%);
}

.basket--place-order-btn:active {
    box-shadow: none;
    transform: translateY(-2px);
    transform: translateX(2px);
}

.basket--continue-shopping {
    cursor: pointer;
    display: inline-block;
}

.basket--continue-shopping:hover {
    color: var(--clr-lighter-black);
}

/* Basket empty content */

.basket--empty {
    z-index: 5;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    margin: auto;
    padding: 2.5rem 1.5rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    max-height: 550px;
    max-width: 450px;
    min-width: 260px;
    overflow-y: auto;
    scrollbar-width: none;
    transition-duration: .2s;
    display: none;
}

.basket--empty[data-visible]{
    display: block;
}

.basket--empty-grid-container {
    display: grid;
    gap: 2rem;
}

.basket-empty-h3 {
    text-align: center;
}

/* Payment form section */

.basket--payment-form {
    z-index: 5;
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    margin: auto;
    padding: 2.5rem 1.5rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    max-height: 550px;
    max-width: 350px;
    min-width: 260px;
    overflow-y: auto;
    scrollbar-width: none;
    transition-duration: .2s;
}

.basket--payment-form[data-visible]{
    display: block;
}

.payment-form {
    display: grid;
    gap: 1.1rem;
    place-content: center;
    margin-bottom: 1.5rem;
}

.form-fieldset {
    border: none;
    display: grid;
    width: 100%;
}

.fieldset-text {
    border: 1px solid var(--clr-lighter-black);
    border-radius: 5px;
    padding: .200rem .300rem;
}

.form-pay-btn {
    background-color: var(--clr-accent);
    border: 1px solid black;
    border-radius: 9px;
    box-shadow: 2px 2px var(--clr-main);
    cursor: pointer;
    transition-duration: .2s;
    padding: 0.5rem;
    font-size: 0.8rem;
    width: 100%;
}

.form-pay-btn:hover {
    background-color: var(--clr-peach);
    color: var(--clr-main);
}

.form-pay-btn:active {
    transform: translateY(-2px);
    transform: translateX(2px);
    box-shadow: none;
}

.payment-continue-shopping {
    cursor: pointer;
}

.payment-continue-shopping:hover {
    color: var(--clr-lighter-black);
}

/* thank you for your order styles */

.thankyou-message {
    display: none;
    z-index: 5;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    margin: auto;
    padding: 2.5rem 1.5rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    max-height: 550px;
    max-width: 350px;
    min-width: 260px;
    overflow-y: auto;
    scrollbar-width: none;
    transition-duration: .2s;
    background-color: var(--clr-white);
}

.thankyou-message[data-visible] {
    display: block;
}

.thankyou-message-content {
    display: grid;
    gap: 1rem;
    text-align: center;
}

.thankyou--go-back-btn {
    justify-self: end;
    cursor: pointer;
}

.thankyou--go-back-btn:hover {
    color: var(--clr-lighter-black);
}

/* Why us section */

.whyus-h1 {
    font-size: clamp(2rem, 0.1rem + 10vw, 4rem);
}

.whyus-h2 {
    text-align: center;
}

.whyus--wrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.whyus-text {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 500px;
    text-align: justify;
    margin: 0 auto;
    padding: 1rem;
}

.whyus-content img {
    max-width: 500px;
    margin: 0 auto;
}

@media (min-width: 70em) {
    .whyus-content {
        display: flex;
        flex-direction: row;
    }
}

/* Our locations */

.locations-h1 {
    text-align: center;
    font-size: clamp(2rem, 0.1rem + 10vw, 4rem);
}

.locations-hero {
  max-width: 650px;
}

.locations--wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

@media (min-width: 70em) {
    .locations--wrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
}

.footer-locations {
    display: grid;
    gap: 1rem;
}

.locations {
    display: grid;
    gap: 0.5rem;
    border-bottom: .5px solid var(--clr-main);
    padding-bottom: 1rem;
}

@media (min-width: 70em) {
    .locations {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
        "locations-address locations-img"
        ;
    }

    .locations-address {
        grid-area: locations-address;
        text-align: left;
    }

    .locations-img {
        grid-area: locations-img;
    }
}

.locations-img {
    width: 250px;
    height: 150px;
    margin: 0 auto;
}

/* Footer */

.footer-content {
    display: grid;
    gap: 0.9rem;
}

.footer-logo {
    display: grid;
    line-height: 1;
}

.footer-slogan {
    font-style: italic;
}

.footer-description {
    max-width: 400px;
    margin: 0 auto;
}

.footer-email {
    text-transform: uppercase;
}

.footer-author {
    text-decoration: none;
    color: b;
}

hr {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

